venv_eml/
*.zip
.vscode/
.ipynb_checkpoints/
Neural Networks/.ipynb_checkpoints/
Proyecto final/.ipynb_checkpoints
Proyecto final/__MACOSX
Proyecto final/__MACOSX
price-volume-data-for-all-us-stocks-etfs